%div.container.main-content
  %div.row.tag-header
    %div.col-sm-8
      %h2.tag-name{style: 'color: white;'}= "##{@tag.name.capitalize}"
      %p.tag-description= @tag.description
    - if session[:current_user]
      %div.col-sm-1.col-sm-push-2.tag-subscribe-btn
        - if @tag.subscribed?(session[:spred_tokens])
          %a.btn.btn-danger.follow-button{:href => '/tags/' + @tag.name + '/unsubscribe'} Se désabonner
        - else
          %a.btn.btn-default{:style => 'color: black', :href => '/tags/' + @tag.name + '/subscribe'}
            S'abonner
            %i.fa.fa-rss
  %div
    %h3 Live
    -if @casts_by_states['0'] != nil
      - @casts_by_states['0'].each_slice(2) do |casts|
        %div.row.casts-row
          - casts.each do |cast|
            %div.col-sm-6
              %div.row
                %div.col-sm-4
                  %div
                    %img.cast-picture{src: cast.cover_url}
                %div.col-sm-8
                  %div
                    %div
                      %span
                        %a.cast-name{ href: "#{request.base_url}/casts/#{cast.url}", title: cast.name }
                          = cast.name
                          %span by
                          %span
                            %a{ href: "#{request.base_url}/@#{cast.creator.pseudo}"}
                              = '@' + cast.creator.pseudo
                      %div.mine-description
                        %span= cast.description
    %hr
    %div
      %h3 A Venir
      -if @casts_by_states['1'] != nil
        - @casts_by_states['1'].each_slice(2) do |casts|
          %div.row.casts-row
            - casts.each do |cast|
              %div.col-sm-6
                %div.row
                  %div.col-sm-4
                    %div
                      %img.cast-picture{src: "#{request.base_url}/img/cast.png"}
                  %div.col-sm-8
                    %div
                      %div
                        %span
                          %a.cast-name{ href: "#{request.base_url}/casts/#{cast.url}", title: cast.name }
                            = cast.name
                          %span by
                          %span
                            %a{ href: "#{request.base_url}/@#{cast.creator.pseudo}"}
                              = '@' + cast.creator.pseudo
                      %div.mine-description
                        %span= cast.description

