- @casts_by_states[states].each_slice(2) do |casts|
  %div.row.casts-row
    - casts.each do |cast|
      %div.col-sm-6{style: 'margin-bottom: 80px;'}
        %div.row
          %div.col-sm-4
            %div
              %img.cast-picture{src: cast.cover_url}
          %div.col-sm-8
            %div
              %div
                %span
                  %a.cast-name{ href: "#{request.base_url}/casts/#{cast.url}", title: cast.name }
                    = cast.name
                %span by
                %span
                  %a{ href: "#{request.base_url}/@#{cast.creator.pseudo}"}
                    = '@' + cast.creator.pseudo
            %div.mine-description
              %span= cast.description
            %div.cast-tags
              - cast.tags.each_slice(3) do |tags|
                - tags.each do |tag|
                  %a.tag{href: "/tags/#{tag['name']}"}
                    = "##{tag['name']}"
