/ WHY: We put this script here so they are only load on this page.
%script{ :src => '/node_modules/spred-media-client/spred.io.min.js'}
%script{ :src => '/js/cast.js' }
%div.container.main-content
  %input#castId.hidden{ 'value' => @cast.id }
  %div#alert-box.alert.alert-danger.hidden
    %strong#alert-box-content
      Ici devrait changer si une erreur arrive
  %div.row
    %div.cast-header.col-sm-8
      %span.vcast-name= @cast.name
      %i.fa.fa-users{ 'aria-hidden': true }
      %span#user_count
        0
      %span par
      %a{:href => '/@' + @cast.creator.pseudo}= '@' + @cast.creator.pseudo
    %div.col-sm-4.edit-profile-btn
      - if session[:current_user] && @cast.creator.id != session[:current_user].id
        - if @cast.has_reminder?(session[:spred_tokens])
          %a.btn.btn-danger.follow-button{:href => '/casts/' + @cast.id + '/unremind'}
            %span.fa.fa-bell-slash-o
        - else
          %a.btn.btn-success.follow-button{:href => '/casts/' + @cast.id + '/remind'}
            %span.fa.fa-bell-o
      - elsif session[:current_user] && @cast.creator.id == session[:current_user].id
        %a#start_cast.btn.btn-success.follow-button.disabled{href: '#'}
          Start
        %a#terminate_cast.btn.btn-danger.follow-button.hidden{href: '#'}
          Terminer
        %a#delete_cast.btn.btn-danger.follow-button{href: "/casts/#{@cast.id}/delete"}
          Supprimer
        %div#source_dropdown.btn.dropdown{ 'data-toggle': "tooltip" }
        %button#dropdownMenu1.btn.btn-default.dropdown-toggle{"aria-expanded" => "true", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
          Source
        %span.caret
        %ul#select-source.dropdown-menu{"aria-labelledby" => "dropdownMenu1"}
          %li
            %a{:onclick => "changeSource('webcam')"} Caméra
          %li
            %a{:onclick => "changeSource('screen')"} Ecran
          %li
            %a{:onclick => "changeSource('window')"} Fenêtre
  - if @cast.running?
    %video#video.vcast-video{ 'autoplay' => "true"}
    %img#cast-image.hidden{src: @cast.cover_url, style: 'width: 100%; height: 100%;'}
  - else
    %video#video.vcast-video.hidden{ 'autoplay' => "true"}
    %img#cast-image{src: @cast.cover_url, style: 'width: 100%; height: 100%;'}
  %hr
  %div.vcast-panel
    %ul.nav.nav-tabs.nav-justified
      %li.active
        %a{'data-toggle' => 'tab', :href => '#info'} Informations
      - if @cast.running?
        %li#question-tab
          %a{'data-toggle' => 'tab', :href => '#questions'} Questions
        %li#chat-tab
          %a{'data-toggle' => 'tab', :href => '#chat'} Chat
      - else
        %li#question-tab.hidden
          %a{'data-toggle' => 'tab', :href => '#questions'} Questions
        %li#chat-tab.hidden
          %a{'data-toggle' => 'tab', :href => '#chat'} Chat
    %div.tab-content
      %div#info.tab-pane.fade.in.active
        %div.cast-info-creator
          %div.col-sm-6
            %h4.cast-info-title Animateur:
            %div.row
              %div.col-sm-3
                %img.following-profile-picture{src: @cast.creator.picture_url}
              %div.col-sm-9
                %b.following-name= "#{@cast.creator.first_name.capitalize} #{@cast.creator.last_name.capitalize}"
                %div
                  %span
                    %a{ href: "#{request.base_url}/@#{@cast.creator.pseudo}"}
                      = '@' + @cast.creator.pseudo
        %div.cast-info-title
          %span= "Le #{DateTime.parse(@cast.date).strftime('%d/%m/%y à %H:%M')}"
        %div.cast-info-title Description:
        %div= @cast.description
        %br
        %div.cast-info-title Tags:
        =haml :'tag/tag_list', locals: {cast: @cast}

      %div#questions.tab-pane.fade
        %div#question-box.question-box
        %div.row
          %div.col-sm-10
            %input.form-control#question-input{:type => 'text', :placeholder => 'Posez votre question'}
          %div.col-sm-2
            %button.form-control.btn.btn-success.js-send-button{:onclick => 'askQuestion();'} Envoyer
      %div#chat.tab-pane.fade
        %div#chat-box.chat-content
        %div.row
          %div.col-sm-10
            %input#chat-input.form-control{:type => 'input', :placeholder => 'Votre message ...'}
          %div.col-sm-2
            %button.form-control.btn.btn-success.js-send-button{:onclick => 'sendMessage();'} Envoyer
