%div.container.main-content
  %div.spredcast-grp
    %h3 Casts en cours
    - @casts.each_slice(4) do |casts|
      %div.row.casts-row
        - casts.each do |cast|
          %div.col-sm-3
            %div
              %img.cast-picture{src: "#{request.base_url}/img/cast.png"}
            %div.cast-name
              %a.cast-name{ href: "#{request.base_url}/casts/#{cast.url}", title: cast.name }
                = cast.name
            %div.cast-creator
              %a.cast-creator{ href: "#{request.base_url}/@#{cast.creator.pseudo}", title: "@#{cast.creator.pseudo}" }
                = "@#{cast.creator.pseudo}"
            %div.cast-nb-viewer
              %span= "#{cast.members.count} viewers"
